{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block breadcrum %}
    <a href="{% url 'home:index' %}" class="breadcrumb">Toolbox</a>
    <a href="{% url 'home:armory' %}" class="breadcrumb">Armies</a>
    <a href="{% url 'home:armory_army_details' army.id %}" class="breadcrumb"> {{ army.name }} </a>
    <a href="#!" class="breadcrumb"> {{ unit.name }} </a>
{% endblock %}


{% block content %}
    <div class="row">
        <table>
            <tr>
                {#            <td style="width: 10%;">#}
                {#                {% if unit.image %}#}
                {#                    <img class="responsive-img circle" src="{% static unit.image.url %}">#}
                {#                {% else %}#}
                {#                    <img class="responsive-img circle" src="{% static unit.army.icon.url %}">#}
                {#                {% endif %}#}
                {#            </td>#}
                <td style="width: 10%">
                    <img class="responsive-img" src={% static unit.role.icon.url %}>
                <td style="vertical-align: initial">
                    <h4 class="white-text valign-wrapper"> {{ unit.name }} </h4>
                </td>

                <td style="width: 30%" class="right-align">
                    <a title="Edit" href="{% url 'home:armory_unit_edit' army.id unit.id %}"
                       class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">edit</i></a>
                    <a title="Delete" href="{% url 'home:armory_unit_delete' army.id unit.id %}"
                       onclick="return confirm('Delete unit ?')"
                       class="btn-floating btn-large waves-effect waves-light black"><i
                            class="material-icons">delete</i></a>
                </td>
            </tr>
        </table>


        <div class="col s2">
        </div>

        <div class="col s8">
        </div>

        <div class="col s2">

        </div>
    </div>


    <div class="row">

        <div class="col s12">
            <table class="black-text table-striped centered" style="table-layout: fixed;">
                <thead class="grey">
                <tr>
                    <th style="width:20%;"></th>
                    <th style="width:5%;">M</th>
                    <th style="width:5%;">CC</th>
                    <th style="width:5%;">CT</th>
                    <th style="width:5%;">F</th>
                    <th style="width:5%;">E</th>
                    <th style="width:5%;">PV</th>
                    <th style="width:5%;">A</th>
                    <th style="width:5%;">Cd</th>
                    <th style="width:5%;">Sv</th>
                    <th style="width:5%;">Iv</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;">Pts</th>
                </tr>
                </thead>
                {% for profile in profiles %}

                    <tbody class="grey lighten-3">
                    <tr>
                        <td>{{ profile.name }}</td>
                        <td>{{ profile.movement }}</td>
                        <td>{{ profile.get_melee_display }}</td>
                        <td>{{ profile.get_range_display }}</td>
                        <td>{{ profile.strength }}</td>
                        <td>{{ profile.toughness }}</td>
                        <td>{{ profile.life }}</td>
                        <td>{{ profile.attacks }}</td>
                        <td>{{ profile.command }}</td>
                        <td>{{ profile.get_armor_display }}</td>
                        <td>{{ profile.get_invulnerability_display }}</td>
                        <td></td>
                        <td>{{ profile.points }}</td>
                    </tr>
                    {% if profile.degressive %}
                        <tr id="degressive-row-display-1" class="black">
                            <td></td>
                            {% if profile.movement == '*' %}
                                <td class="square grey lighten-3" id="movement-1">
                                    {{ profile.degressive.movement_1 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.melee == '*' %}
                                <td class="square grey lighten-3" id="melee-1">
                                    {{ profile.degressive.melee_1 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.range == '*' %}
                                <td class="square grey lighten-3" id="range-1">
                                    {{ profile.degressive.range_1 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td></td>
                            <td></td>
                            {% if profile.life == '*' %}
                                <td class="square grey lighten-3" id="life-1">
                                    {{ profile.degressive.life_1 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.attacks == '*' %}
                                <td class="square grey lighten-3" id="attacks-1">
                                    {{ profile.degressive.attacks_1 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr id="degressive-row-display-2" class="black">
                            <td></td>
                            {% if profile.movement == '*' %}
                                <td class="square grey lighten-3" id="movement-2">
                                    {{ profile.degressive.movement_2 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.melee == '*' %}
                                <td class="square grey lighten-3" id="melee-2">
                                    {{ profile.degressive.melee_2 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.range == '*' %}
                                <td class="square grey lighten-3" id="range-2">
                                    {{ profile.degressive.range_2 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td></td>
                            <td></td>
                            {% if profile.life == '*' %}
                                <td class="square grey lighten-3" id="life-2">
                                    {{ profile.degressive.life_2 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.attacks == '*' %}
                                <td class="square grey lighten-3" id="attacks-2">
                                    {{ profile.degressive.attacks_2 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr id="degressive-row-display-3" class="black">
                            <td></td>
                            {% if profile.movement == '*' %}
                                <td class="square grey lighten-3" id="movement-3">
                                    {{ profile.degressive.movement_3 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.melee == '*' %}
                                <td class="square grey lighten-3" id="melee-3">
                                    {{ profile.degressive.melee_3 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.range == '*' %}
                                <td class="square grey lighten-3" id="range-3">
                                    {{ profile.degressive.range_3 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td></td>
                            <td></td>
                            {% if profile.life == '*' %}
                                <td class="square grey lighten-3" id="life-3">
                                    {{ profile.degressive.life_3 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if profile.attacks == '*' %}
                                <td class="square grey lighten-3" id="attacks-3">
                                    {{ profile.degressive.attacks_3 }}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
