{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block breadcrum %}
    <a href="{% url 'home:index' %}" class="breadcrumb">Toolbox</a>
    <a href="{% url 'home:armory' %}" class="breadcrumb">Armies</a>
    <a href="{% url 'home:armory_army_details' army.id %}" class="breadcrumb"> {{ army.name }} </a>
    <a href="#!" class="breadcrumb"> {{ unit.name }} </a>
{% endblock %}


{% block content %}
    <div class="row">
        <table>
            <tr>
                {#            <td style="width: 10%;">#}
                {#                {% if unit.image %}#}
                {#                    <img class="responsive-img circle" src="{% static unit.image.url %}">#}
                {#                {% else %}#}
                {#                    <img class="responsive-img circle" src="{% static unit.army.icon.url %}">#}
                {#                {% endif %}#}
                {#            </td>#}
                <td style="width: 10%">
                    <img class="responsive-img" src={% static unit.role.icon.url %}>

                </td>
{#                <td style="width: 9%">#}
{#                    <div class="my_image">#}
{#                        <img class="responsive-img" src={% static 'img/buttons/frame_stone.png' %}>#}
{#                        <span class="text_power"><b>{{ unit.power }}</b></span>#}
{#                    </div>#}
{#                    <div class="card black">#}
{#                        <div class="card-image">#}
{#                            <img src={% static 'img/buttons/frame_stone.png' %}>#}
{#                            <span class="text_outlined card-title text-center"><b>{{ unit.power }}</b></span>#}
{#                        </div>#}
{##}
{#                    </div>#}
                </td>
                <td style="vertical-align: initial">
                    <h4 class="white-text valign-wrapper"> {{ unit.name }} </h4>
                </td>

                <td style="width: 15%">
                    <a title="Edit" href="{% url 'home:armory_unit_edit' army.id unit.id %}"
                       class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">edit</i></a>
                    <a title="Delete" href="{% url 'home:armory_unit_delete' army.id unit.id %}"
                       onclick="return confirm('Delete unit ?')"
                       class="btn-floating btn-large waves-effect waves-light black"><i
                            class="material-icons">delete</i></a>
                </td>
            </tr>
        </table>


        <div class="col s2">
        </div>

        <div class="col s8">
        </div>

        <div class="col s2">

        </div>
    </div>


    <div class="row">

        <div class="col s12">
            <table class="black-text table-striped centered" style="table-layout: fixed;">
                <thead class="grey">
                <tr>
                    <th style="width:20%;"></th>
                    <th style="width:5%;">M</th>
                    <th style="width:5%;">CC</th>
                    <th style="width:5%;">CT</th>
                    <th style="width:5%;">F</th>
                    <th style="width:5%;">E</th>
                    <th style="width:5%;">PV</th>
                    <th style="width:5%;">A</th>
                    <th style="width:5%;">Cd</th>
                    <th style="width:5%;">Sv</th>
                    <th style="width:5%;">Iv</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;">Pts</th>
                </tr>
                </thead>
                {% for profile in profiles %}

                    <tbody class="grey lighten-2">
                    <tr>
                        <td>{{ profile.name }}</td>
                        <td>{{ profile.movement }}</td>
                        <td>{{ profile.get_melee_display}}</td>
                        <td>{{ profile.get_range_display }}</td>
                        <td>{{ profile.strength }}</td>
                        <td>{{ profile.toughness }}</td>
                        <td>{{ profile.life }}</td>
                        <td>{{ profile.attacks }}</td>
                        <td>{{ profile.command }}</td>
                        <td>{{ profile.get_armor_display }}</td>
                        <td>{{ profile.get_invulnerability_display }}</td>
                        <td></td>
                        <td>{{ profile.points }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
