{% extends 'base.html' %}
{% load static %}

{% block breadcrum %}
    <a href="{% url 'home:index' %}" class="breadcrumb">Toolbox</a>
    <a href="{% url 'home:armory' %}" class="breadcrumb">Armies</a>
    <a href="{% url 'home:armory_army_details' army.id %}" class="breadcrumb"> {{ army.name }} </a>
    <a href="{% url 'home:armory_unit_details' army.id unit.id %}" class="breadcrumb"> {{ unit.name }} </a>
    <a href="#!" class="breadcrumb"> Edit </a>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col s12 title">
            <h5> New unit</h5>
        </div>
    </div>

    <div class="divider"></div>

    {% include "includes/profile_edit_table_content.html" %}

    <script>
        var editMode = true;
        var unitId = {{ unit.id }};
    </script>
    <script src="{% static 'js/create_unit_dynamic_formsets.js' %}"></script>

{% endblock %}