<tr id="degressive-row-display-1" class="black hide">
    <td></td>
    <td class="grey lighten-5 square movement-1">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square melee-1">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square range-1">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td class="grey lighten-5 square life-1">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square attacks-1">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr id="degressive-row-display-2" class="black hide">
    <td></td>
    <td class="grey lighten-5 square movement-2">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square melee-2">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square range-2">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td class="grey lighten-5 square life-2">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square attacks-2">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr id="degressive-row-display-3" class="black hide">
    <td></td>
    <td class="grey lighten-5 square movement-3">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square melee-3">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square range-3">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td class="grey lighten-5 square life-3">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="grey lighten-5 square attacks-3">
        <select class="browser-default">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>