<tr id="degressive-row-display-1" class="black">
    <td></td>
    <td class="square degressive-col" id="movement-1">
        {{ form_degressive_profile.movement_1 }}
    </td>
    <td class="square degressive-col" id="melee-1">
        {{ form_degressive_profile.melee_1 }}
    </td>
    <td class="square degressive-col" id="range-1">
        {{ form_degressive_profile.range_1 }}
    </td>
    <td></td>
    <td></td>
    <td class="square degressive-col" id="life-1">
        {{ form_degressive_profile.life_1 }}
    </td>
    <td class="square degressive-col" id="attacks-1">
        {{ form_degressive_profile.attacks_1 }}
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr id="degressive-row-display-2" class="black">
    <td></td>
    <td class="square degressive-col" id="movement-2">
        {{ form_degressive_profile.movement_2 }}
    </td>
    <td class="square degressive-col" id="melee-2">
        {{ form_degressive_profile.melee_2 }}
    </td>
    <td class="square degressive-col" id="range-2">
        {{ form_degressive_profile.range_2 }}
    </td>
    <td></td>
    <td></td>
    <td class="square degressive-col" id="life-2">
        {{ form_degressive_profile.life_2 }}
    </td>
    <td class="square degressive-col" id="attacks-2">
        {{ form_degressive_profile.attacks_2 }}
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr id="degressive-row-display-3" class="black">
    <td></td>
    <td class="square degressive-col" id="movement-3">
        {{ form_degressive_profile.movement_3 }}
    </td>
    <td class="square degressive-col" id="melee-3">
        {{ form_degressive_profile.melee_3 }}
    </td>
    <td class="square degressive-col" id="range-3">
        {{ form_degressive_profile.range_3 }}
    </td>
    <td></td>
    <td></td>
    <td class="square degressive-col" id="life-3">
        {{ form_degressive_profile.life_3 }}
    </td>
    <td class="square degressive-col" id="attacks-3">
        {{ form_degressive_profile.attacks_3 }}
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>