<tr id="degressive-row-display-1" class="black">
    <td></td>
    <td class="square" id="movement-1">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="melee-1">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="range-1">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td class="square" id="life-1">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="attacks-1">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr id="degressive-row-display-2" class="black">
    <td></td>
    <td class="square" id="movement-2">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="melee-2">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="range-2">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td class="square" id="life-2">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="attacks-2">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr id="degressive-row-display-3" class="black">
    <td></td>
    <td class="square" id="movement-3">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="melee-3">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="range-3">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td class="square" id="life-3">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td class="square" id="attacks-3">
        <select class="browser-default hide">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>