{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block breadcrum %}
    <a href="{% url 'home:index' %}" class="breadcrumb">Toolbox</a>
    <a href="{% url 'home:armory' %}" class="breadcrumb">Armies</a>
    <a href="#!" class="breadcrumb"> {{ army.name }} </a>
{% endblock %}


{% block content %}

    <table>
        <tr>
            <td style="vertical-align: initial">
                <h3> {{ army.name }} </h3>
            </td>

            <td style="width: 30%" class="right-align">
                {% if perms.home.edit_army %}
                    <a title="Edit" href="{% url 'home:armory_army_edit' army.id %}"
                       class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">edit</i></a>
                {% endif %}
                {% if perms.home.delete_army %}
                    <a title="Delete" href="{% url 'home:armory_army_delete' army.id %}"
                       onclick="return confirm('Delete army ?')"
                       class="btn-floating btn-large waves-effect waves-light black"><i
                            class="material-icons">delete</i></a>
                {% endif %}
            </td>
        </tr>
    </table>

    <div class="divider"></div>

    <div class="section">
        {% for role in roles %}
            <div class="section">

                <div class="row valign-wrapper">

                    <div class="col s1">
                        <img class="responsive-img" src="{% static role.icon.url %}">
                    </div>
                    <div class="col s10">
                        <h5>{{ role.name }}</h5>
                    </div>
                    <div class="col s1 l1">
                        <a href="{% url 'home:armory_unit_create' army.id role.id %}">
                            <img title='Add {{ role.name }} unit' class="responsive-img"
                                 src={% static "img/buttons/add_icon.png" %}>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">

                {% for unit in units %}

                    {% if unit.role == role %}
                        <div class="col s6 l3">

                            <div class="card">
                                <a href="{% url 'home:armory_unit_details' army.id unit.id %}" class="blue-text">

                                    {% if unit.image %}
                                        <img class="responsive-img" src="{% static unit.image.url %}">
                                    {% else %}
                                        <img class="responsive-img"
                                             src="{% static unit.army.icon.url %}">
                                    {% endif %}

                                    <div class="card-content grey lighten-2">
                                        <span class="card-title center-align black-text ">{{ unit.name }}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>





            <div class="divider"></div>


        {% endfor %}

    </div>



{% endblock %}
