.my_image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.text_power {
    position: absolute;
    top: 12px;
    left: 31px;
    width: 100%;
    font-size: 35px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.tabs .tab a{
   color: #888888;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#795548;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:#795548;
}
.tabs .indicator {
	background-color:#795548;
}