.my_image {
    position: relative;
    width: 100%; /* for IE 6 */
}




/* tabs */

.tabs .tab a{
   color: #888888;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#795548;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:#795548;
}
.tabs .indicator {
	background-color:#795548;
}

/* selects */

ul.dropdown-content.select-dropdown{
    top: 0px;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; /* no need for !important :) */
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}