{% extends 'base.html' %}

{% block Title %}

<a id="logo-container" href="{% url 'home:armory'%}" class="brand-logo white-text">Armory</a>

{% endblock %}


{% block content %}
    <div class="row valign-wrapper">
        <div class="col s1">
            <a title="Back" href="{% url 'home:armory' %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">arrow_back</i></a>
        </div>

        <div class="col s9">
            <h5 class="white-text"> {{ figurine.name }} </h5>
        </div>

        <div class="col s2 right-align">
            <a title="Edit" href="{% url 'home:armory_figurine_edit' figurine.id %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>
            <a title="Delete" href="{% url 'home:armory_figurine_delete' figurine.id %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </div>
    </div>


    <div class="row">

        <div class="col s12" >
            <table class="black-text table-striped centered" style="table-layout: fixed;">
                <thead class="grey">
                <tr>
                    <th>M</th>
                    <th>CC</th>
                    <th>CT</th>
                    <th>F</th>
                    <th>E</th>
                    <th>PV</th>
                    <th>A</th>
                    <th>Cd</th>
                    <th>Sv</th>
                    <th>Iv</th>
                    <th></th>
                    <th>Pts</th>
                </tr>
                </thead>
                <tbody class="grey lighten-2">
                <tr>
                    <td>{{ figurine.get_movement_display }}</td>
                    <td>{{ figurine.get_melee_display }}</td>
                    <td>{{ figurine.get_range_display }}</td>
                    <td>{{ figurine.get_strength_display }}</td>
                    <td>{{ figurine.get_toughness_display }}</td>
                    <td>{{ figurine.get_life_display }}</td>
                    <td>{{ figurine.get_attacks_display }}</td>
                    <td>{{ figurine.get_command_display }}</td>
                    <td>{{ figurine.get_armor_display }}</td>
                    <td>{{ figurine.get_invulnerabilty_display }}</td>
                    <td></td>
                    <td>{{ figurine.get_points_display }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row grey lighten-2 black-text valign-wrapper ">
        <div class="col s1 center-align">
            <span><b>Factions :</b></span>
        </div>
        <div class="col s11">
            <span class="chip purple darken-3 white-text"><b>{{figurine.faction}}</b></span>
        </div>
    </div>

{% endblock %}
