{% extends 'base.html' %}
{% load static %}

{% block breadcrum %}
    <a href="{% url 'home:index' %}" class="breadcrumb">Toolbox</a>
    <a href="{% url 'home:armory' %}" class="breadcrumb">Armory</a>
    <a href="{% url 'home:armory_army_details' figurine.army.id %}" class="breadcrumb">{{ figurine.army.name }}</a>
    <a href="#!" class="breadcrumb">{{ figurine.name }}</a>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col s2">
            {% if figurine.picture %}
                <img class="responsive-img " src="{% static figurine.picture.url %}">
            {% else %}
                <img class="responsive-img " src="{% static figurine.army.icon.url %}">
            {% endif %}
        </div>
        <div class="col s8">
            <h4 class="white-text"> {{ figurine.name }} </h4>
        </div>

        <div class="col s2 right-align">
            <a title="Edit" href="{% url 'home:armory_figurine_edit' army.id figurine.id %}"
               class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>
            <a title="Delete" href="{% url 'home:armory_figurine_delete' army.id figurine.id %}"
               class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </div>
    </div>


    <div class="row">

        <div class="col s12">
            <table class="black-text table-striped centered" style="table-layout: fixed;">
                <thead class="grey">
                <tr>
                    <th>M</th>
                    <th>CC</th>
                    <th>CT</th>
                    <th>F</th>
                    <th>E</th>
                    <th>PV</th>
                    <th>A</th>
                    <th>Cd</th>
                    <th>Sv</th>
                    <th>Iv</th>
                    <th></th>
                    <th>Pts</th>
                </tr>
                </thead>
                <tbody class="grey lighten-2">
                <tr>
                    <td>{{ figurine.get_movement_display }}</td>
                    <td>{{ figurine.get_melee_display }}</td>
                    <td>{{ figurine.get_range_display }}</td>
                    <td>{{ figurine.get_strength_display }}</td>
                    <td>{{ figurine.get_toughness_display }}</td>
                    <td>{{ figurine.get_life_display }}</td>
                    <td>{{ figurine.get_attacks_display }}</td>
                    <td>{{ figurine.get_command_display }}</td>
                    <td>{{ figurine.get_armor_display }}</td>
                    <td>{{ figurine.get_invulnerabilty_display }}</td>
                    <td></td>
                    <td>{{ figurine.get_points_display }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">

        <div class="col s12">
            <table class="black-text table-striped" style="table-layout: fixed;">
                <tbody class="grey lighten-2">
                <tr>
                    <td>
{#                        <span><b>Army :</b></span>#}
{#                        <span class="chip purple darken-3 white-text"><b>{{ figurine.army }}</b></span>#}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
