{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block Title %}

<a id="logo-container" href="#" class="brand-logo white-text">Armory</a>

{% endblock %}


{% block content %}



<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>


<table class="bordered grey lighten-5 black-text">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for figurine in figurines %}
    <tr>
        <td>
            <img src="{% static figurine.picture.url %}" alt="My image"/>
        </td>
        <td>
            <a href="{% url 'home:armory_figurine_details' figurine.id %}" class="blue-text">
                {{ figurine.name }}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
