{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block Title %}

<a id="logo-container" href="{% url 'home:armory'%}" class="brand-logo white-text">Armory</a>

{% endblock %}


{% block content %}



<a title="Create" class="btn-floating btn-large waves-effect waves-light red" href={% url "home:armory_figurine_create" %}><i class="material-icons">add</i></a>


<table class="bordered grey lighten-5 black-text table-striped centered" style="table-layout: fixed;">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for figurine in figurines %}
    <tr>
        {% if figurine.picture %}
            <td>
                <img class="circle responsive-img" src="{% static figurine.picture.url %}"/>
            </td>
        {%  endif %}
        <td>
            <a href="{% url 'home:armory_figurine_details' figurine.id %}" class="blue-text" >
                {{ figurine.name }}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
