{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block breadcrum %}
    <a href="{% url 'home:index' %}" class="breadcrumb">Toolbox</a>
    <a href="#!" class="breadcrumb">Armies</a>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col s12">
          <ul class="tabs black">
              {% for race in races %}
                {% if forloop.first %}
                <li class="tab col s3"><a href="#{{ race.name }}" class="active">{{ race.name }}</a></li>
                {% else %}
                    <li class="tab col s3"><a href="#{{ race.name }}">{{ race.name }}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
        </div>
    </div>
    <div class="row">
        {% for race in races %}
            <div id={{race.name}} class="row white-text">
            {% for army in armies %}

                {% if army.race == race %}
                    <div class="col s6 l3">
                        <div class="card">
                            <a href="{% url 'home:armory_army_details' army.id %}" class="blue-text">
                                <img class="responsive-img" src="{% static army.icon.url %}">
                                <div class="card-content grey lighten-2 center-align">
                                    <span class="card-title center-align black-text">{{ army.name }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
            {% if perms.home.add_army %}
                <div class="col s6 l3 valign-wrapper center-align">
                    <a href="{% url 'home:armory_army_create' race.id %}" class="blue-text">
                            <img title='Add new army' class="responsive-img"
                             src={% static "img/buttons/add_icon.png" %}>
                    </a>
                </div>
            {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
